# Video Game Sales

### Analyze sales data from more than 16,500 games.
### Student: Aman Arbek 
### Group: BDA-1901
#### Content
+ Introduction
+ Data description
+ Formulation of research question
+ Data preparation

## 1. Introduction: Video Game Sales

This is a list of the best-selling video games of all time. The best-selling video game to date is Minecraft, a sandbox video game originally released for Microsoft Windows, Mac OS X, and Linux in 2011. The game has been ported to a wide range of platforms, selling 200 million copies, including cheaper paid mobile game downloads. Grand Theft Auto V and EA's Tetris mobile game are the only other known video games to have sold over 100 million copies. The best-selling game on a single platform is Wii Sports, with nearly 83 million sales for the Wii console. Sales figures of games are often inflated when such game is packed in with existing hardware, such in the case of Super Mario Bros. and the NES, or Wii Play and the additional Wii controller it was bundled with.

Of the top 50 best-selling video games on this list, half were developed or published by Nintendo. Several games were published by Nintendo and their affiliate, The Pokémon Company. Other publishers with multiple entries in the top 50 include Activision and Rockstar Games with five games each, and Electronic Arts and Sega with two games each. Aside from Nintendo's internal development teams, Game Freak is the developer with the most games in the top 50, with five from the Pokémon series. The oldest game in the top 50 is Pac-Man, which was released in June 1980.

source( https://en.wikipedia.org/wiki/List_of_best-selling_video_games )

## 2. Data description

Based on the data provided by Kaggle. We have 16,500 lines about games. Games that were popular 4 years ago, different sales in different countries. We will compare the most popular games around the world based on different factors.

Data were taken from the finished data set from https://www.kaggle.com/gregorut/videogamesales . The data about a video game is taken from https://www.vgchartz.com/ in 2016. Below is data that we will be scraped and used for our analysis:


+ Fields include

+ Rank - Ranking of overall sales

+ Name - The games name

+ Platform - Platform of the games release (i.e. PC,PS4, etc.)

+ Year - Year of the game's release

+ Genre - Genre of the game

+ Publisher - Publisher of the game

+ NA_Sales - Sales in North America (in millions)

+ EU_Sales - Sales in Europe (in millions)

+ JP_Sales - Sales in Japan (in millions)

+ Global_Sales - Total worldwide sales.

## 3.Formulation of research question

Analyze total revenue from games for a global market and 
compare it with the total revenue from games on each continent and illustrate it as a diagram.

Analyze on which platform the most games were produced.

Analyze which genres have been popular around the world, and across all continents.

Сomparing well-rated games with each other.

Analysis of which year there were more games

## 4.Data preparation

I deleted the column other sales.

In [83]:
# import all modules that will be used
import time                           
import pandas as pd   
import numpy as np
import matplotlib.pyplot as plt
import missingno as msno # analyze the missing values for our .csv file
import requests   
from bs4 import BeautifulSoup
import unicodecsv as csv
import json
import seaborn as sns
import plotly

%matplotlib inline
from IPython.display import HTML 
import warnings
warnings.simplefilter("ignore")

In [23]:
data = pd.read_csv('/Users/arbek/Desktop/IDA/vgsales.csv')
data.head()
del data['Other_Sales']
print(data.head())

   Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Global_Sales
0     41.49     29.02      3.77         82.74
1     29.08      3.58      6.81         40.24
2     15.85     12.88      3.79         35.82
3     15.75     11.01      3.28         33.00
4     11.27      8.89     10.22         31.37

In [24]:
df1 = data[['NA_Sales', 'EU_Sales','JP_Sales','Global_Sales','Name']]
df1.head(5)

   NA_Sales  EU_Sales  JP_Sales  Global_Sales                      Name
0     41.49     29.02      3.77         82.74                Wii Sports
1     29.08      3.58      6.81         40.24         Super Mario Bros.
2     15.85     12.88      3.79         35.82            Mario Kart Wii
3     15.75     11.01      3.28         33.00         Wii Sports Resort
4     11.27      8.89     10.22         31.37  Pokemon Red/Pokemon Blue

In [25]:
df2 = data[['Name', 'Platform','Global_Sales']]
df2.head(5)

                       Name Platform  Global_Sales
0                Wii Sports      Wii         82.74
1         Super Mario Bros.      NES         40.24
2            Mario Kart Wii      Wii         35.82
3         Wii Sports Resort      Wii         33.00
4  Pokemon Red/Pokemon Blue       GB         31.37

In [26]:
# This section gives us to numerical values. 
#std: standard deviation,
#min: the minimum value that we have.
#max: the maximum value that we have.
#mean: the average of the numbers
data.describe() #To deduce the standard deviation of the dataset, because we do not know if this standard deviation is an "uncorrected" standard deviation or a "corrected" standard deviation;

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,82.740000

In [42]:
print('Rating of the best sold games:',df2['Global_Sales'].value_counts().index[0])

Rating of the best sold games: 0.02

In [34]:
data.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Global_Sales      0
dtype: int64

In [33]:
proverka= data.notnull() # Searching null values
proverka

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Global_Sales
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
16593,True,True,True,True,True,True,True,True,True,True
16594,True,True,True,True,True,True,True,True,True,True
16595,True,True,True,True,True,True,True,True,True,True
16596,True,True,True,True,True,True,True,True,True,True
16597,True,True,True,True,True,True,True,True,True,True

In [61]:
data.dropna()     # Delete all lines with null values

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.01

In [60]:
duplicate = data.duplicated() # removes any row containing missing data. 
duplicate

0        False
1        False
2        False
3        False
4        False
         ...
16593    False
16594    False
16595    False
16596    False
16597    False
Length: 16598, dtype: bool

In [45]:
data.shape #16598 observations and 10 columns

(16598, 10)

In [76]:
data[(data.Global_Sales> 15) ][['Platform','Global_Sales','Genre', 'Year','Name']]
#showed all games that exceed global sales by 15 percent

,Platform,Global_Sales,Genre,Year,Name
0,Wii,82.74,Sports,2006.0,Wii Sports
1,NES,40.24,Platform,1985.0,Super Mario Bros.
2,Wii,35.82,Racing,2008.0,Mario Kart Wii
3,Wii,33.00,Sports,2009.0,Wii Sports Resort
4,GB,31.37,Role-Playing,1996.0,Pokemon Red/Pokemon Blue
5,GB,30.26,Puzzle,1989.0,Tetris
6,DS,30.01,Platform,2006.0,New Super Mario Bros.
7,Wii,29.02,Misc,2006.0,Wii Play
8,Wii,28.62,Platform,2009.0,New Super Mario Bros. Wii
9,NES,28.31,Shooter,1984.0,Duck Hunt
10,DS,24.76,Simulation,2005.0,Nintendogs
11,DS,23.42,Racing,2005.0,Mario Kart DS
12,GB,23.10,Role-Playing,1999.0,Pokemon Gold/Pokemon Silver
13,Wii,22.72,Sports,2007.0,Wii Fit
14,Wii,22.00,Sports,2009.0,Wii Fit Plus
15,X360,21.82,Misc,2010.0,Kinect Adventures!
16,PS3,21.40,Action,2013.0,Grand Theft Auto V
17,PS2,20.81,Action,2004.0,Grand Theft Auto: San Andreas
18,SNES,20.61,Platform,1990.0,Super Mario World
19,DS,20.22,Misc,2005.0,Brain Age: Train Your Brain in Minutes a Day
20,DS,18.36,Role-Playing,2006.0,Pokemon Diamond/Pokemon Pearl
21,GB,18.14,Platform,1989.0,Super Mario Land
22,NES,17.28,Platform,1988.0,Super Mario Bros. 3
23,X360,16.38,Action,2013.0,Grand Theft Auto V
24,PS2,16.15,Action,2002.0,Grand Theft Auto: Vice City
25,GBA,15.85,Role-Playing,2002.0,Pokemon Ruby/Pokemon Sapphire
26,DS,15.32,Role-Playing,2010.0,Pokemon Black/Pokemon White
27,DS,15.30,Puzzle,2005.0,Brain Age 2: More Training in Minutes a Day

In [91]:
platform_sort = data.sort_values(by='Platform')
platform_sort

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Global_Sales
4894,4896,Bump 'n' Jump,2600,1982.0,Racing,Mattel Interactive,0.37,0.02,0.0,0.39
4232,4234,Circus Atari,2600,NaN,Action,Atari,0.43,0.03,0.0,0.46
2660,2662,Galaxian,2600,1982.0,Shooter,Atari,0.72,0.05,0.0,0.77
2516,2518,Custer's Revenge,2600,1981.0,Action,Mystique,0.76,0.05,0.0,0.82
6007,6009,Dolphin,2600,1983.0,Action,Activision,0.27,0.02,0.0,0.29
...,...,...,...,...,...,...,...,...,...,...
2991,2993,Doom (2016),XOne,2016.0,Shooter,Bethesda Softworks,0.39,0.23,0.0,0.68
7509,7511,NBA Live 15,XOne,2014.0,Sports,Electronic Arts,0.17,0.02,0.0,0.20
1058,1060,NBA 2K15,XOne,2014.0,Sports,Take-Two Interactive,1.36,0.18,0.0,1.69
12071,12073,Divinity: Original Sin,XOne,2015.0,Role-Playing,Focus Home Interactive,0.04,0.02,0.0,0.07
8860,8862,Mirror's Edge Catalyst,XOne,2016.0,Platform,Electronic Arts,0.08,0.05,0.0,0.15

there are many unique names in my dataset to create diagrams from them. There are 11493 unique names in the name,
in platforms 12274,in publisher 14727'

it was not a good choice in the dataset , I don't have time to choose another