# Video Game Sales

### Analyze sales data from more than 16,500 games.
### Student: Aman Arbek 
### Group: BDA-1901
#### Content
+ Introduction
+ Data description
+ Formulation of research question
+ Data preparation

## 1. Introduction: Video Game Sales

This is a list of the best-selling video games of all time. The best-selling video game to date is Minecraft, a sandbox video game originally released for Microsoft Windows, Mac OS X, and Linux in 2011. The game has been ported to a wide range of platforms, selling 200 million copies, including cheaper paid mobile game downloads. Grand Theft Auto V and EA's Tetris mobile game are the only other known video games to have sold over 100 million copies. The best-selling game on a single platform is Wii Sports, with nearly 83 million sales for the Wii console. Sales figures of games are often inflated when such game is packed in with existing hardware, such in the case of Super Mario Bros. and the NES, or Wii Play and the additional Wii controller it was bundled with.

Of the top 50 best-selling video games on this list, half were developed or published by Nintendo. Several games were published by Nintendo and their affiliate, The Pokémon Company. Other publishers with multiple entries in the top 50 include Activision and Rockstar Games with five games each, and Electronic Arts and Sega with two games each. Aside from Nintendo's internal development teams, Game Freak is the developer with the most games in the top 50, with five from the Pokémon series. The oldest game in the top 50 is Pac-Man, which was released in June 1980.

source( https://en.wikipedia.org/wiki/List_of_best-selling_video_games )

## 2. Data description

Based on the data provided by Kaggle. We have 16,500 lines about games. Games that were popular 4 years ago, different sales in different countries. We will compare the most popular games around the world based on different factors.

Data were taken from the finished data set from https://www.kaggle.com/gregorut/videogamesales . The data about a video game is taken from https://www.vgchartz.com/ in 2016. Below is data that we will be scraped and used for our analysis:


+ Fields include

+ Rank - Ranking of overall sales

+ Name - The games name

+ Platform - Platform of the games release (i.e. PC,PS4, etc.)

+ Year - Year of the game's release

+ Genre - Genre of the game

+ Publisher - Publisher of the game

+ NA_Sales - Sales in North America (in millions)

+ EU_Sales - Sales in Europe (in millions)

+ JP_Sales - Sales in Japan (in millions)

+ Global_Sales - Total worldwide sales.

## 3.Formulation of research question

Analyze total revenue from games for a global market and 
compare it with the total revenue from games on each continent and illustrate it as a diagram.

Analyze on which platform the most games were produced.

Analyze which genres have been popular around the world, and across all continents.

Сomparing well-rated games with each other.

Analysis of which year there were more games

## 4.Data preparation

I deleted the column other sales.

In [5]:
import numpy as np
import pandas as pd

In [6]:
train_df = pd.read_csv('/Users/arbek/Desktop/IDA/vgsales.csv')
train_df.head()
del train_df['Other_Sales']
print(train_df.head())

   Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Global_Sales
0     41.49     29.02      3.77         82.74
1     29.08      3.58      6.81         40.24
2     15.85     12.88      3.79         35.82
3     15.75     11.01      3.28         33.00
4     11.27      8.89     10.22         31.37

In [12]:
df1 = train_df[['NA_Sales', 'EU_Sales','JP_Sales','Global_Sales','Name']]
df1.head(5)

   NA_Sales  EU_Sales  JP_Sales  Global_Sales                      Name
0     41.49     29.02      3.77         82.74                Wii Sports
1     29.08      3.58      6.81         40.24         Super Mario Bros.
2     15.85     12.88      3.79         35.82            Mario Kart Wii
3     15.75     11.01      3.28         33.00         Wii Sports Resort
4     11.27      8.89     10.22         31.37  Pokemon Red/Pokemon Blue

In [15]:
df2 = train_df[['Name', 'Platform','Global_Sales']]
df2.head(5)

                       Name Platform  Global_Sales
0                Wii Sports      Wii         82.74
1         Super Mario Bros.      NES         40.24
2            Mario Kart Wii      Wii         35.82
3         Wii Sports Resort      Wii         33.00
4  Pokemon Red/Pokemon Blue       GB         31.37